<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Survey Form</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/public/stylesheets/index_style.css">
</head>
<body>
	<div class="container">
		<div class="row boxMargin">
			<div class="col-sm-6 col-sm-offset-3">			
				<form class='form-horizontal boxBorder' role='form' action="/result" method="post">
				<% if(error.length !== 0) { %>
					<div class="row">
						<p class='error'><%= error %></p>
					</div>
				<% } %>
					<div class="form-group">
						<label for="name" class='col-sm-4'>Your Name:</label>
						<div class="col-sm-8">
							<input name="name" id="name" type="text" class='form-control'>
						</div>
					</div>
					<div class="form-group">
						<label for="location" class='col-sm-4'>Dojo Location:</label>
						<div class="col-sm-8">
							<select name="location" id="location" class="form-control">
								<option value="Bellevue">Bellevue, WA</option>
								<option value="Mountain View">Mountain View, CA</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="language" class='col-sm-4'>Favorite Language:</label>
						<div class="col-sm-8">
							<select name="language" id="language" class="form-control">
								<option value="HTML/CSS5">HTML/CSS5</option>
								<option value="PHP">PHP</option>
								<option value="JavaScript">JavaScript</option>
								<option value="Ruby">Ruby</option>
								<option value="Python">Python</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="comment" class='col-sm-12 text-left'>Comment (optional):</label>
							<div class="col-sm-12">
								<textarea id="comment" class='form-control' name="comment"></textarea>
							</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input class="btn btn-primary pull-right" type="submit" value="Submit">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>